body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #362c2c;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #be2f0087;
}
td {
    background-color: #ef96968f;
}
#recipe{
    max-width: 500px;
}